/***
 *    :'######:::'########:'##:::###:'########:'########:::::'###::::'##:::::::
 *    '##...###::###.....::####::###:###.....::###....###:::'#####:::###:::::::
 *    ###:::..:::###:::::::#####:###:###:::::::###::::###::'##:.###::###:::::::
 *    ###::'####:#######:::#########:#######:::#########::'##:::.###:###:::::::
 *    ###:::###::###...::::###.#####:###...::::###..###:::##########:###:::::::
 *    ###:::###::###:::::::###:.####:###:::::::###::.###::###....###:###:::::::
 *    .#######:::#########:###::.###:#########:###:::.###:###::::###:#########:
 *    :......::::........::..::::..::........::..:::::..::..:::::..::........::
 */

 body{
   margin: 0;
   padding: 0;
 }

 ul{
   margin-block-start: 0;
   margin-block-end: 0;
   margin-inline-start: 0;
   margin-inline-end: 0;
   padding-inline-start: 0;
   text-align: center;
 }

*{
  box-sizing: border-box;
  width: 100%;
}

 @media only screen and (min-width:768px){
   [class*="col-"]{
     float: left;
   }
  .col-0 {display: none;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
 }
 

 @media only screen and (min-width:1200px){
  [class*="col-"]{
    float: left;
  }
 .col-0 {display: none;}
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
}
/*
 *    '##:::###::::'###::::'##::::'##::::::::::'##::::'##:'########:'##:::###:'##::::'##:::::::::::::'##:::
 *    ####::###:::'#####:::###::::###::::::::::####::'###:###.....::####::###:###::::###:::::::::::'####:::
 *    #####:###::'##:.###::###::::###::::::::::#####'####:###:::::::#####:###:###::::###:::::::::::..###:::
 *    #########:'##:::.###:###::::###:'#######:##########:#######:::#########:###::::###:'#######::::###:::
 *    ###.#####:##########:.###::###::........:###.##:###:###...::::###.#####:###::::###:........::::###:::
 *    ###:.####:###....###::.######::::::::::::###:.::###:###:::::::###:.####:###::::###:::::::::::::###:::
 *    ###::.###:###::::###:::.####:::::::::::::###::::###:#########:###::.###:.########::::::::::::'######:
 *    ..::::..::..:::::..:::::...::::::::::::::..:::::..::........::..::::..:::.......:::::::::::::......::
 */

 .mn-1{
   background-color: black;
   color: lightgray;
   font-family:"ARS Maquette", "Helvetica Neue", Arial, sans-serif;
   font-size: 13px;
   padding: 8px;
 }

 .lft-mn-1{
   width: 400px;
 }

 .lft-mn-1 ul{
   display: table;
 }

 .lft-mn-1 li {
   display: table-cell;
   width: fit-content;
   vertical-align: middle;
 }

 .lft-mn-1 svg{
   display: none;
 }

 .rght-mn-1{
   float: right;
   width: 500px;
 }
 .rght-mn-1{
  width: 300px;
}

.rght-mn-1 ul{
  display: table;
}

.rght-mn-1 li {
  display: table-cell;
  width: fit-content;
  vertical-align: middle;
}


 /***
 *    :'######:::'########:::'#######::'##::::'##:'########::::::::::::::'##:::
 *    '##...###::###....###:'##....###:###::::###:###....###:::::::::::'####:::
 *    ###:::..:::###::::###:###::::###:###::::###:###::::###:::::::::::..###:::
 *    ###::'####:#########::###::::###:###::::###:#########::'#######::::###:::
 *    ###:::###::###..###:::###::::###:###::::###:###.....:::........::::###:::
 *    ###:::###::###::.###::###::::###:###::::###:###::::::::::::::::::::###:::
 *    .#######:::###:::.###:.########::.########::###::::::::::::::::::'######:
 *    :......::::..:::::..:::.......::::.......:::..:::::::::::::::::::......::
 */