/***
 *    :'######:::'########:'##:::###:'########:'########:::::'###::::'##:::::::
 *    '##...###::###.....::####::###:###.....::###....###:::'#####:::###:::::::
 *    ###:::..:::###:::::::#####:###:###:::::::###::::###::'##:.###::###:::::::
 *    ###::'####:#######:::#########:#######:::#########::'##:::.###:###:::::::
 *    ###:::###::###...::::###.#####:###...::::###..###:::##########:###:::::::
 *    ###:::###::###:::::::###:.####:###:::::::###::.###::###....###:###:::::::
 *    .#######:::#########:###::.###:#########:###:::.###:###::::###:#########:
 *    :......::::........::..::::..::........::..:::::..::..:::::..::........::
 */

body {
  margin: 0;
  padding: 0;
}

section>h6,
article>h6 {
  display: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
  width: 100%;
}

@media only screen and (min-width:0px) and (max-width: 768px) {
  [class*="col-"] {
    float: left;
  }

  .lg-mn-h {
    height: 40px !important;
  }

  .col-xs-0 {
    display: none;
  }

  .col-xs-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .row-xs-1 {
    height: 15vh;
  }
}

@media only screen and (min-width:768px) {
  [class*="col-"] {
    float: left;
  }


  .src-nv .col-s-0 {
    display: none;
  }

  .col-s-0 {
    display: none;
  }

  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  .row-s-1 {
    height: 20vh;
  }

  .row-s-2 {
    height: 40vh;
  }

  .article-1{
    font-size: 1.5rem;
  }
}


@media only screen and (min-width:1024px) {
  [class*="col-"] {
    float: left;
  }

  .col-0 {
    display: none;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .row-1 {
    height: 35vh;
  }

  .row-2 {
    height: 70vh;
  }

  .article-1{
    font-size: 2.5rem;
  }
}

.right-align {
  text-align: right;
}

/*
 *    '##:::###::::'###::::'##::::'##::::::::::'########:::::'###::::'########::
 *    ####::###:::'#####:::###::::###::::::::::###....###:::'#####:::###....###:
 *    #####:###::'##:.###::###::::###::::::::::###::::###::'##:.###::###::::###:
 *    #########:'##:::.###:###::::###:'#######:#########::'##:::.###:#########::
 *    ###.#####:##########:.###::###::........:###....###:##########:###..###:::
 *    ###:.####:###....###::.######::::::::::::###::::###:###....###:###::.###::
 *    ###::.###:###::::###:::.####:::::::::::::#########::###::::###:###:::.###:
 *    ..::::..::..:::::..:::::...::::::::::::::........:::..:::::..::..:::::..::
 */

.mn-1 {
  background-color: black;
  color: lightgray;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  height: 30px;
}

.lft-mn-1 {
  width: 400px;
  height: 100%;
}

.lft-mn-1 ul {
  display: table;
  height: 100%;
}

.lft-mn-1 li {
  display: table-cell;
  width: fit-content;
  vertical-align: middle;
}

.lft-mn-1 svg {
  display: none;
}

.rght-mn-1 {
  float: right;
  width: 500px;
  height: 100%;
}

.rght-mn-1 {
  width: 300px;
}

.rght-mn-1 ul {
  height: 100%;
  display: table;
}

.rght-mn-1 li {
  display: table-cell;
  width: fit-content;
  vertical-align: middle;
}

.tnw-logo {
  height: 70px;
  background-color: red;
  float: left;
}

.tnw-logo a,
.tnw-logo svg {
  height: 100%;
}

.tnw-logo {
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
}

.tnw-logo:hover {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/home-1.gif);
}

.src-div {
  width: 75px;
}

/***
 *    '##:::###::::'###::::'##::::'##::::::::::'########:::::'###::::'########::::::::::::'#######::
 *    ####::###:::'#####:::###::::###::::::::::###....###:::'#####:::###....###::::::::::'##....###:
 *    #####:###::'##:.###::###::::###::::::::::###::::###::'##:.###::###::::###::::::::::..:::::###:
 *    #########:'##:::.###:###::::###:'#######:#########::'##:::.###:#########::'#######::'#######::
 *    ###.#####:##########:.###::###::........:###....###:##########:###..###:::........:'##::::::::
 *    ###:.####:###....###::.######::::::::::::###::::###:###....###:###::.###:::::::::::###::::::::
 *    ###::.###:###::::###:::.####:::::::::::::#########::###::::###:###:::.###::::::::::##########:
 *    ..::::..::..:::::..:::::...::::::::::::::........:::..:::::..::..:::::..:::::::::::.........::
 */

.lft-mn-1 .mn-2-svg {
  display: unset;
  height: 100%;
}

.rght-mn-2 {
  width: 500px;
}

.mn-2 {
  background-color: white;
  color: gray;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  height: 40px;
}

.mn-2 ul {
  height: 40px;
}

.mn-3 {
  background-color: rgb(255, 221, 51);
  height: 30px;
  display: table;
}

.mn-3>div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.mn-3 span {
  padding-left: 15px;
}

.fxd-nav {
  position: fixed;
}

.fxd-nav ul {
  float: left;
  display: table;
}

.src-nv ul {
  width: 75px;
  float: right;
  display: flex;
}

.src-nv li {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 30px;
  float: left;
}

.src-nv a {
  display: grid;
  border-left: solid gray 1px;
  height: 30px;
}

.icon-1 {
  margin: auto;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1520429355783);
  background-origin: padding-box;
  background-position-x: -832px;
  background-position-y: -832px;
  background-size: 1296px 1296px;
}

.icon-2 {
  width: 28px;
  height: 28px;
  fill: gray;
  margin: auto;
}

/*
 *    :::'###::::'########::'########:'####::'######::'##:::::::'########::'######::::::::::::::'##:::
 *    ::'#####:::###....###:...###..::.###::'##...###:###:::::::###.....::'##...###:::::::::::'####:::
 *    :'##:.###::###::::###::::###:::::###::###:::..::###:::::::###:::::::###:::..::::::::::::..###:::
 *    '##:::.###:#########:::::###:::::###::###:::::::###:::::::#######:::.#######::'#######::::###:::
 *    ##########:###..###::::::###:::::###::###:::::::###:::::::###...:::::.....###:........::::###:::
 *    ###....###:###::.###:::::###:::::###::###:::###:###:::::::###:::::::'##:::###:::::::::::::###:::
 *    ###::::###:###:::.###::::###::::'####:.#######::#########:#########:.#######::::::::::::'######:
 *    ..:::::..::..:::::..:::::..:::::....:::......:::........::........:::......:::::::::::::......::
 */

.left-img {
  padding: 8px;
  overflow: hidden;
}

.right-img {
  padding: 8px;
}

.main-articles {
  margin-top: 100px;
  padding: 8px;
}

.article-1 {
  width: 100%;
  height: 100%;
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/artificial-intelligence-hed-796x417.jpg');
  background-size: 100% auto;
  background-position-y: center;
  background-color: red;
  z-index: 1;
  overflow: hidden;
}

.rtcl-lg-cntnr{
  display: grid;
  height: 50%;
  align-items: center;
  padding: 10px;
}

.rtcl-lg-cntnr svg{
  width: 20%;
}

.article-1 span {
  bottom: 0;
  color: white;
}

.grdnt-red {
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, rgba(255,0,0,1) 0%, rgba(200,201,195,0) 100%), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(200,201,195,0) 100%);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.grdnt-blk{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(200,201,195,0) 100%);
}

.article-2 {
  height: 100%;
  width: 100%;
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/Untitled-design101-796x417.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  overflow: hidden;
}

.article-3 {
  height: 100%;
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/google-play-store-malware-joker-796x417.jpg');
  background-size: 100% auto;
  background-position-y: center;
  overflow: hidden;
}

body {
  height: 200vw;
}

.right-article-container{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.right-article-heading{
  font-size: xx-large;
}

.right-article-links{
  display: flex;
  justify-content: flex-start;
}

.right-article-author{
  width: auto;
}

.right-article-publication-date{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.right-article-share{
  width: auto;
}
